Repository TrevorPLam/studio: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'npm run typecheck || true', eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npm run typecheck || true'"
  ]
}

chore: remove git hooks (.husky)
  .husky/pre-commit
Due: none

Align repository: adopt .toon format, update agent configs, remove CURSORAGENT.md
  .repo/AGENTS.toon
  .repo/INDEX.toon
  .repo/repo.manifest.toon
  .repo/tasks/ARCHIVE.toon
  .repo/tasks/BACKLOG.toon
  .repo/tasks/TODO.toon
  AGENTS.md
  AGENTS.toon
  INDEX.toon
  agents.json
Due: prettier --write

chore: standardize config files, remove .ai directory, add prettier and editorconfig
  .ai/agent-instructions.md
  .ai/context-map.json
  .ai/prompt-templates/backend-api.md
  .ai/prompt-templates/frontend-feature.md
  .editorconfig
  .prettierignore
  .prettierrc.js
  package.json
  tsconfig.base.json
  tsconfig.json
  turbo.json
Due: eslint --fix, prettier --write

feat(AI): add TOON format files for agent-optimized development
  AI/AGENTS.toon
  AI/ARCHIVE.toon
  AI/BACKLOG.toon
  AI/TODO.toon
  AI/TOON.toon
Due: none

chore: set up agents and indexes
  .githooks/INDEX.toon
  .githooks/post-checkout
  .githooks/post-merge
  .github/AGENTS.md
  .github/INDEX.toon
  AGENTS.md
  AGENTS/AGENTS.toon
  AGENTS/INDEX.toon
  AGENTS/TOON.toon
  AGENTS/log/LOGGING_REQUIREMENTS.toon
  AGENTS/tasks/ARCHIVE.toon
  AGENTS/tasks/BACKLOG.toon
  AGENTS/tasks/TODO.toon
  AI/AGENTS.toon
  ALIGNMENT/INDEX.toon
  CLAUDE.md
  INDEX.toon
  apps/INDEX.toon
  packages/INDEX.toon
  scripts/INDEX.toon
  scripts/generate-index-toon.py
  scripts/refresh-indexes.sh
Due: prettier --write

Create FIRST.md
  FIRST.md
Due: prettier --write

chore: add repository state report and align .agents/tasks (TODO 3-5, rest in BACKLOG)
  .agents/tasks/BACKLOG.toon
  .agents/tasks/TODO.toon
  REPOSITORY-STATE-REPORT.md
Due: prettier --write

Add web deps and vitest coverage
  apps/web/features/github/lib/github-app.ts
  apps/web/lib/security/sanitize.test.ts
  apps/web/package.json
  apps/web/vitest.config.ts
  packages/config/package.json
Due: bash -c 'npm run typecheck || true', prettier --write

Update vitest.config.ts
  apps/web/vitest.config.ts
Due: bash -c 'npm run typecheck || true'

Create pull_requests_template.md
  .github/pull_requests_template.md
Due: prettier --write

Add alignment standard, GitHub workflows, and agent governance structure
  .github/AGENTS.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/SECURITY.md
  .github/TEMPTODO.md
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/blast-radius.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/governance-drift.yml
  .github/workflows/security.yml
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  agents/AGENTS.toon
  agents/INDEX.toon
  agents/TOON.toon
  agents/log/LOGGING_REQUIREMENTS.toon
  agents/tasks/ARCHIVE.toon
  agents/tasks/BACKLOG.toon
  agents/tasks/TODO.toon
  docs/DEVELOPMENT_WORKFLOW.md
  docs/TEAM_TRAINING.md
Due: prettier --write

feat: Align agentic workflow across repositories
  .alignment/INDEX.toon
  .githooks/INDEX.toon
  .github/INDEX.toon
  AGENTS.md
  INDEX.toon
  Makefile
  agents/AGENTS.toon
  agents/INDEX.toon
  agents/hitl/README.md
  agents/tasks/TODO.toon
  apps/INDEX.toon
  docs/INDEX.toon
  docs/quality-attributes.md
  docs/security-review-triggers.md
  infrastructure/INDEX.toon
  packages/INDEX.toon
  scripts/INDEX.toon
  tools/INDEX.toon
Due: prettier --write

Align Studio repository with comprehensive agentic workflow enhancements
  Makefile
  agents/AGENTS.toon
  agents/hitl/README.md
  agents/hitl/templates/HITL-EXT-template.md
  agents/hitl/templates/HITL-PROT-template.md
  agents/hitl/templates/HITL-SEC-template.md
  agents/hitl/templates/HITL-UNK-template.md
  agents/hitl/templates/README.md
  agents/tasks/templates/BUG-template.md
  agents/tasks/templates/FEATURE-template.md
  agents/tasks/templates/README.md
  docs/SHARED_PATTERNS.md
  scripts/automation/check-hitl-quality.sh
  scripts/automation/check-task-quality.sh
  scripts/automation/sync-workflows.sh
  scripts/metrics/generate-metrics-dashboard.sh
  scripts/metrics/track-workflow-performance.sh
  scripts/security/check-blast-radius.sh
  scripts/security/protected-paths.txt
  scripts/setup.sh
  scripts/verify.sh
Due: prettier --write

chore: repo alignment and agentic workflow enhancements
  .cursorrules
  .github/AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
  agents/AGENTS.md
  agents/AGENTS.toon
  agents/WORKFLOW_STANDARDIZATION.toon
  agents/intelligence/task-prioritizer.js
  agents/intelligence/workflow-intelligence.js
  agents/memory/agent-memory.js
  agents/metrics/collect.js
  agents/sync/repos.json
  agents/sync/tasks.js
  agents/tasks/templates/BUG-WORKFLOW.toon
  agents/tasks/templates/DOCS-WORKFLOW.toon
  agents/tasks/templates/FEATURE-WORKFLOW.toon
  agents/tasks/templates/SECURITY-WORKFLOW.toon
  agents/validate/workflow.js
Due: eslint --fix, prettier --write

Remove sync infrastructure and standardize AGENTS.md
  AGENTS.md
  agents/AGENTS.md
  agents/WORKFLOW_STANDARDIZATION.toon
  agents/sync/repos.json
  agents/sync/tasks.js
Due: eslint --fix, prettier --write
